
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=PT+Sans&display=swap');

body{
  background-color: black;
}
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

.container{
  width: 80%;
  margin: auto;
  position: relative;
}
:root{
  --main-color: rgba(12, 225, 233, 0.973);
  --mincolo:rgb(31, 31, 31);
}